.banner {
  width: 100%;
  background: url('../../assets/img/bg_bann.jpg') center/cover no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  &__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: $main_white;
    padding: 60px 377px;
    @media (max-width: $screen-laptop) {
      font-size: 24px;
      line-height: 28px;
      padding: 50px 350px;
    }
    @media (max-width: $screen-md-min) {
      padding: 50px 0px;
    }
    @media (max-width: $screen-sm-min-small) {
      padding: 50px 0px;
    }
    @media (max-width: $screen-mobile) {
      padding: 50px 0px;
    }
  }
  &__divider {
    width: 170px;
    border-color: $main_white;
    @media (max-width: $screen-laptop) {
      width: 143px;
    }
    @media (max-width: $screen-sm-min-small) {
      width: 134px;
    }
    @media (max-width: $screen-mobile) {
      width: 134px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $main_white;
    padding: 40px 160px 73px;
    @media (max-width: $screen-laptop) {
      font-size: 14px;
      line-height: 16px;
      padding: 40px 160px 32px;
    }
    @media (max-width: $screen-sm-min-small) {
      padding: 40px 0px 75px;
    }
    @media (max-width: $screen-mobile) {
      padding: 40px 0px 75px;
    }
  }
}
