.footer {
  width: 100%;
  background-color: $main_black_max;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 27px;
  }
  &__icon-box {
    display: flex;
    column-gap: 33px;
    @media (max-width: $screen-laptop) {
      column-gap: 27px;
    }
    @media (max-width: $screen-sm-min-small) {
      column-gap: 17px;
    }
    @media (max-width: $screen-mobile) {
      column-gap: 17px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $main_grey_pricing;
    padding-top: 28px;
    @media (max-width: $screen-laptop) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
