.tabs {
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  &__panels {
    background: #fffffff6;
    max-width: 100%;
    overflow: hidden;
    padding: 45px 0 54px 100px;
  }
  &__labels {
    display: flex;
    border-bottom: 1px solid $main_grey_border;
  }

  &__panel__element {
    width: 570px;
    display: none;
    animation: fadein 0.8s;
    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  &__panel__element-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

    color: $main_black_max;
  }
  &__panel__element-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  &__radio {
    display: none;
  }
  #one:checked ~ &__box #one-panel,
  #two:checked ~ &__box #two-panel,
  #three:checked ~ &__box #three-panel {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
  }
  #one:checked ~ &__labels #one-tab,
  #two:checked ~ &__labels #two-tab,
  #three:checked ~ &__labels #three-tab {
    background: #fff;
    color: $main_grey_max;
    border: 1px solid $main_grey_border;
    border-bottom: 1px solid $main-white;
    margin-bottom: -1px;
  }
  &__panel__element-bg {
    width: 470px;
    height: 500px;
    background: url('../../assets/img/tab_bg.jpg') center/cover no-repeat;
  }
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid $main_grey_border;
    border-top: none;
  }
}
