.logo {
  width: 86px;
  height: 30px;
}
.logo-max {
  width: 160px;
  height: 55px;
}
.logo-icon {
  width: 70px;
  height: 70px;
}

.logo-nav {
  position: absolute;
  top: 22px;
  left: 20px;
}
