.tab {
  width: 203px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 5px 5px 0px 0px;
}
