.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: $main_grey_review transparent transparent transparent;
  position: absolute;
  bottom: -20px;
  left: 70px;
  @media (max-width: $screen-laptop) {
    border-width: 20px 12px 0 12px;
  }
}
