*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 968px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 744px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 550px;
    margin: 0 auto;
  }
}
@media (max-width: 481px) {
  .container {
    max-width: 465px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 288px;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
}
