$main_black_low: #212121;
$main_black_max: #000000;
$main_grey_low: #86878b;
$main_grey_max: #333333;
$main_grey_light: #bdbdbd;
$main_coral: #ec7979;
$main_coral_max: #ab4949;
$main_white: #ffffff;
$main_grey_border: #c6cbcd;
$main_white_low: #f5f5f5;
$main_grey_pricing: rgba(255, 255, 255, 0.5);
$main_grey_review: #e2e2e2;

$screen-mobile: 320px;

$screen-sm-min-small: 481px;

$screen-sm-min: 576px;

$screen-md-min: 768px;

$screen-lg-min: 992px;

$screen-laptop: 1024px;

$screen-xl-min: 1200px;
